<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fantasysport"
        >

    <uses-sdk android:minSdkVersion="8"  android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:resizeable="true"
            android:anyDensity="true" />

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />

        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />

        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />

        <screen android:screenSize="xlarge" android:screenDensity="ldpi" />
        <screen android:screenSize="xlarge" android:screenDensity="mdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="hdpi" />
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App"
        android:debuggable="true"
            >

        <activity
            android:name=".activities.SignInActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.SignUpActivity"
                  android:label=""
                  android:screenOrientation="portrait"
                  />

        <activity android:name=".activities.MainActivity"
                  android:label=""
                  android:icon="@drawable/menu"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppIconTheme"
                  />

        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name"
                  />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>


        <!--<service-->
                <!--android:name="com.octo.android.robospice.GsonGoogleHttpClientSpiceService"-->
                <!--android:exported="false"/>-->

        <service
                android:name=".webaccess.GsonGoogleHttpClientSpiceService"
                android:exported="false"/>


    </application>

</manifest>
